@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Plus+Jakarta+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-fLxMjz5jwQsr_font-family: "Inter", sans-serif;
  --mixin-fLxMjz5jwQsr_font-size: 16px;
  --mixin-fLxMjz5jwQsr_font-weight: 400;
  --mixin-fLxMjz5jwQsr_font-style: normal;
  --mixin-fLxMjz5jwQsr_color: #535353;
  --mixin-fLxMjz5jwQsr_text-align: left;
  --mixin-fLxMjz5jwQsr_text-transform: none;
  --mixin-fLxMjz5jwQsr_line-height: 1.5;
  --mixin-fLxMjz5jwQsr_letter-spacing: normal;
  --mixin-fLxMjz5jwQsr_white-space: pre-wrap;
  --mixin-fLxMjz5jwQsr_user-select: text;
  --mixin-fLxMjz5jwQsr_text-decoration-line: none;
  --mixin-fLxMjz5jwQsr_text-overflow: clip;
  --mixin-Q-4LAn51A_ej_color: #000000;
  --mixin-Q-4LAn51A_ej_font-weight: 700;
  --mixin-Q-4LAn51A_ej_font-size: 64px;
  --mixin-Q-4LAn51A_ej_line-height: 1;
  --mixin-Q-4LAn51A_ej_letter-spacing: -1px;
  --mixin-Q-4LAn51A_ej_white-space: pre-wrap;
  --mixin-5qAtVMAeadZY_color: #000000;
  --mixin-5qAtVMAeadZY_font-size: 48px;
  --mixin-5qAtVMAeadZY_font-weight: 700;
  --mixin-5qAtVMAeadZY_letter-spacing: -0.5px;
  --mixin-5qAtVMAeadZY_line-height: 1.1;
  --mixin-5qAtVMAeadZY_white-space: pre-wrap;
  --mixin-ZVyQszBd_bRq_color: #0070f3;
  --mixin-ZVyQszBd_bRq_white-space: pre-wrap;
  --mixin-Zk0L183exRiL_color: #000000;
  --mixin-Zk0L183exRiL_font-size: 32px;
  --mixin-Zk0L183exRiL_font-weight: 600;
  --mixin-Zk0L183exRiL_line-height: 1.2;
  --mixin-Zk0L183exRiL_white-space: pre-wrap;
  --mixin-Jnwb6a9nb68r_color: #000000;
  --mixin-Jnwb6a9nb68r_font-size: 24px;
  --mixin-Jnwb6a9nb68r_font-weight: 600;
  --mixin-Jnwb6a9nb68r_line-height: 1.3;
  --mixin-Jnwb6a9nb68r_white-space: pre-wrap;
  --mixin-YVbd-bLJG_L7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-YVbd-bLJG_L7_border-bottom-color: #dddddd;
  --mixin-YVbd-bLJG_L7_border-bottom-style: solid;
  --mixin-YVbd-bLJG_L7_border-bottom-width: 1px;
  --mixin-YVbd-bLJG_L7_border-left-color: #dddddd;
  --mixin-YVbd-bLJG_L7_border-left-style: solid;
  --mixin-YVbd-bLJG_L7_border-left-width: 1px;
  --mixin-YVbd-bLJG_L7_border-right-color: #dddddd;
  --mixin-YVbd-bLJG_L7_border-right-style: solid;
  --mixin-YVbd-bLJG_L7_border-right-width: 1px;
  --mixin-YVbd-bLJG_L7_border-top-color: #dddddd;
  --mixin-YVbd-bLJG_L7_border-top-style: solid;
  --mixin-YVbd-bLJG_L7_border-top-width: 1px;
  --mixin-YVbd-bLJG_L7_border-bottom-left-radius: 3px;
  --mixin-YVbd-bLJG_L7_border-bottom-right-radius: 3px;
  --mixin-YVbd-bLJG_L7_border-top-left-radius: 3px;
  --mixin-YVbd-bLJG_L7_border-top-right-radius: 3px;
  --mixin-YVbd-bLJG_L7_font-family: "Inconsolata";
  --mixin-YVbd-bLJG_L7_padding-bottom: 1px;
  --mixin-YVbd-bLJG_L7_padding-left: 4px;
  --mixin-YVbd-bLJG_L7_padding-right: 4px;
  --mixin-YVbd-bLJG_L7_padding-top: 1px;
  --mixin-YVbd-bLJG_L7_white-space: pre-wrap;
  --mixin-cAswaquNkrMo_border-left-color: #dddddd;
  --mixin-cAswaquNkrMo_border-left-style: solid;
  --mixin-cAswaquNkrMo_border-left-width: 3px;
  --mixin-cAswaquNkrMo_color: #888888;
  --mixin-cAswaquNkrMo_padding-left: 10px;
  --mixin-cAswaquNkrMo_white-space: pre-wrap;
  --mixin-g6DqJL_tYyZa_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-g6DqJL_tYyZa_border-bottom-color: #dddddd;
  --mixin-g6DqJL_tYyZa_border-bottom-style: solid;
  --mixin-g6DqJL_tYyZa_border-bottom-width: 1px;
  --mixin-g6DqJL_tYyZa_border-left-color: #dddddd;
  --mixin-g6DqJL_tYyZa_border-left-style: solid;
  --mixin-g6DqJL_tYyZa_border-left-width: 1px;
  --mixin-g6DqJL_tYyZa_border-right-color: #dddddd;
  --mixin-g6DqJL_tYyZa_border-right-style: solid;
  --mixin-g6DqJL_tYyZa_border-right-width: 1px;
  --mixin-g6DqJL_tYyZa_border-top-color: #dddddd;
  --mixin-g6DqJL_tYyZa_border-top-style: solid;
  --mixin-g6DqJL_tYyZa_border-top-width: 1px;
  --mixin-g6DqJL_tYyZa_border-bottom-left-radius: 3px;
  --mixin-g6DqJL_tYyZa_border-bottom-right-radius: 3px;
  --mixin-g6DqJL_tYyZa_border-top-left-radius: 3px;
  --mixin-g6DqJL_tYyZa_border-top-right-radius: 3px;
  --mixin-g6DqJL_tYyZa_font-family: "Inconsolata";
  --mixin-g6DqJL_tYyZa_padding-bottom: 3px;
  --mixin-g6DqJL_tYyZa_padding-left: 6px;
  --mixin-g6DqJL_tYyZa_padding-right: 6px;
  --mixin-g6DqJL_tYyZa_padding-top: 3px;
  --mixin-g6DqJL_tYyZa_white-space: pre-wrap;
  --mixin-HxoTr3RIhS_Z_display: flex;
  --mixin-HxoTr3RIhS_Z_flex-direction: column;
  --mixin-HxoTr3RIhS_Z_align-items: stretch;
  --mixin-HxoTr3RIhS_Z_justify-content: flex-start;
  --mixin-HxoTr3RIhS_Z_list-style-position: outside;
  --mixin-HxoTr3RIhS_Z_padding-left: 40px;
  --mixin-HxoTr3RIhS_Z_position: relative;
  --mixin-HxoTr3RIhS_Z_list-style-type: disc;
  --mixin-HxoTr3RIhS_Z_white-space: pre-wrap;
  --mixin-5Gx0QcQZs5-b_display: flex;
  --mixin-5Gx0QcQZs5-b_flex-direction: column;
  --mixin-5Gx0QcQZs5-b_align-items: stretch;
  --mixin-5Gx0QcQZs5-b_justify-content: flex-start;
  --mixin-5Gx0QcQZs5-b_list-style-position: outside;
  --mixin-5Gx0QcQZs5-b_padding-left: 40px;
  --mixin-5Gx0QcQZs5-b_position: relative;
  --mixin-5Gx0QcQZs5-b_list-style-type: decimal;
  --mixin-5Gx0QcQZs5-b_white-space: pre-wrap;
  --mixin-w3dC5WHOCkZf_color: #000000;
  --mixin-w3dC5WHOCkZf_font-size: 20px;
  --mixin-w3dC5WHOCkZf_font-weight: 600;
  --mixin-w3dC5WHOCkZf_line-height: 1.5;
  --mixin-w3dC5WHOCkZf_white-space: pre-wrap;
  --mixin-ZBslD7QfdKhE_color: #000000;
  --mixin-ZBslD7QfdKhE_font-size: 16px;
  --mixin-ZBslD7QfdKhE_font-weight: 600;
  --mixin-ZBslD7QfdKhE_line-height: 1.5;
  --mixin-ZBslD7QfdKhE_white-space: pre-wrap;
  --mixin-0gQfzbRq_V7I_color: #3291ff;
  --mixin-0gQfzbRq_V7I_white-space: pre-wrap;
  --mixin-o4uL8sWKApWy_white-space: pre-wrap;
  --mixin-QgYa_U7F-a_8_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-fLxMjz5jwQsr_font-family);
  font-size: var(--mixin-fLxMjz5jwQsr_font-size);
  font-weight: var(--mixin-fLxMjz5jwQsr_font-weight);
  font-style: var(--mixin-fLxMjz5jwQsr_font-style);
  color: var(--mixin-fLxMjz5jwQsr_color);
  text-align: var(--mixin-fLxMjz5jwQsr_text-align);
  text-transform: var(--mixin-fLxMjz5jwQsr_text-transform);
  line-height: var(--mixin-fLxMjz5jwQsr_line-height);
  letter-spacing: var(--mixin-fLxMjz5jwQsr_letter-spacing);
  white-space: var(--mixin-fLxMjz5jwQsr_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Q-4LAn51A_ej_color);
  font-weight: var(--mixin-Q-4LAn51A_ej_font-weight);
  font-size: var(--mixin-Q-4LAn51A_ej_font-size);
  line-height: var(--mixin-Q-4LAn51A_ej_line-height);
  letter-spacing: var(--mixin-Q-4LAn51A_ej_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-5qAtVMAeadZY_color);
  font-size: var(--mixin-5qAtVMAeadZY_font-size);
  font-weight: var(--mixin-5qAtVMAeadZY_font-weight);
  letter-spacing: var(--mixin-5qAtVMAeadZY_letter-spacing);
  line-height: var(--mixin-5qAtVMAeadZY_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-ZVyQszBd_bRq_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Zk0L183exRiL_color);
  font-size: var(--mixin-Zk0L183exRiL_font-size);
  font-weight: var(--mixin-Zk0L183exRiL_font-weight);
  line-height: var(--mixin-Zk0L183exRiL_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Jnwb6a9nb68r_color);
  font-size: var(--mixin-Jnwb6a9nb68r_font-size);
  font-weight: var(--mixin-Jnwb6a9nb68r_font-weight);
  line-height: var(--mixin-Jnwb6a9nb68r_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-YVbd-bLJG_L7_font-family);
  border-radius: var(--mixin-YVbd-bLJG_L7_border-top-left-radius)
    var(--mixin-YVbd-bLJG_L7_border-top-right-radius)
    var(--mixin-YVbd-bLJG_L7_border-bottom-right-radius)
    var(--mixin-YVbd-bLJG_L7_border-bottom-left-radius);
  padding: var(--mixin-YVbd-bLJG_L7_padding-top)
    var(--mixin-YVbd-bLJG_L7_padding-right)
    var(--mixin-YVbd-bLJG_L7_padding-bottom)
    var(--mixin-YVbd-bLJG_L7_padding-left);
  border-top: var(--mixin-YVbd-bLJG_L7_border-top-width)
    var(--mixin-YVbd-bLJG_L7_border-top-style)
    var(--mixin-YVbd-bLJG_L7_border-top-color);
  border-right: var(--mixin-YVbd-bLJG_L7_border-right-width)
    var(--mixin-YVbd-bLJG_L7_border-right-style)
    var(--mixin-YVbd-bLJG_L7_border-right-color);
  border-bottom: var(--mixin-YVbd-bLJG_L7_border-bottom-width)
    var(--mixin-YVbd-bLJG_L7_border-bottom-style)
    var(--mixin-YVbd-bLJG_L7_border-bottom-color);
  border-left: var(--mixin-YVbd-bLJG_L7_border-left-width)
    var(--mixin-YVbd-bLJG_L7_border-left-style)
    var(--mixin-YVbd-bLJG_L7_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-cAswaquNkrMo_color);
  padding-left: var(--mixin-cAswaquNkrMo_padding-left);
  border-left: var(--mixin-cAswaquNkrMo_border-left-width)
    var(--mixin-cAswaquNkrMo_border-left-style)
    var(--mixin-cAswaquNkrMo_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-g6DqJL_tYyZa_font-family);
  border-radius: var(--mixin-g6DqJL_tYyZa_border-top-left-radius)
    var(--mixin-g6DqJL_tYyZa_border-top-right-radius)
    var(--mixin-g6DqJL_tYyZa_border-bottom-right-radius)
    var(--mixin-g6DqJL_tYyZa_border-bottom-left-radius);
  padding: var(--mixin-g6DqJL_tYyZa_padding-top)
    var(--mixin-g6DqJL_tYyZa_padding-right)
    var(--mixin-g6DqJL_tYyZa_padding-bottom)
    var(--mixin-g6DqJL_tYyZa_padding-left);
  border-top: var(--mixin-g6DqJL_tYyZa_border-top-width)
    var(--mixin-g6DqJL_tYyZa_border-top-style)
    var(--mixin-g6DqJL_tYyZa_border-top-color);
  border-right: var(--mixin-g6DqJL_tYyZa_border-right-width)
    var(--mixin-g6DqJL_tYyZa_border-right-style)
    var(--mixin-g6DqJL_tYyZa_border-right-color);
  border-bottom: var(--mixin-g6DqJL_tYyZa_border-bottom-width)
    var(--mixin-g6DqJL_tYyZa_border-bottom-style)
    var(--mixin-g6DqJL_tYyZa_border-bottom-color);
  border-left: var(--mixin-g6DqJL_tYyZa_border-left-width)
    var(--mixin-g6DqJL_tYyZa_border-left-style)
    var(--mixin-g6DqJL_tYyZa_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-HxoTr3RIhS_Z_display);
  flex-direction: var(--mixin-HxoTr3RIhS_Z_flex-direction);
  align-items: var(--mixin-HxoTr3RIhS_Z_align-items);
  justify-content: var(--mixin-HxoTr3RIhS_Z_justify-content);
  list-style-position: var(--mixin-HxoTr3RIhS_Z_list-style-position);
  padding-left: var(--mixin-HxoTr3RIhS_Z_padding-left);
  position: var(--mixin-HxoTr3RIhS_Z_position);
  list-style-type: var(--mixin-HxoTr3RIhS_Z_list-style-type);
  flex-column-gap: var(--mixin-HxoTr3RIhS_Z_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-5Gx0QcQZs5-b_display);
  flex-direction: var(--mixin-5Gx0QcQZs5-b_flex-direction);
  align-items: var(--mixin-5Gx0QcQZs5-b_align-items);
  justify-content: var(--mixin-5Gx0QcQZs5-b_justify-content);
  list-style-position: var(--mixin-5Gx0QcQZs5-b_list-style-position);
  padding-left: var(--mixin-5Gx0QcQZs5-b_padding-left);
  position: var(--mixin-5Gx0QcQZs5-b_position);
  list-style-type: var(--mixin-5Gx0QcQZs5-b_list-style-type);
  flex-column-gap: var(--mixin-5Gx0QcQZs5-b_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-w3dC5WHOCkZf_color);
  font-size: var(--mixin-w3dC5WHOCkZf_font-size);
  font-weight: var(--mixin-w3dC5WHOCkZf_font-weight);
  line-height: var(--mixin-w3dC5WHOCkZf_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-ZBslD7QfdKhE_color);
  font-size: var(--mixin-ZBslD7QfdKhE_font-size);
  font-weight: var(--mixin-ZBslD7QfdKhE_font-weight);
  line-height: var(--mixin-ZBslD7QfdKhE_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-0gQfzbRq_V7I_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
